H1 {
    text-align: center;
	font-size: 60px;
    color:black;
}

H2 {
    font-size: 20px;
    padding: 10px;

}

H3 {
    font-size: 20px;
    text-align: center;

}

img {
    width: 100%;
    height: auto;

}

* {box-sizing:border-box; }

nav {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: greenyellow;

}

#myborder {
    background-color: rgb(70, 69, 69);

}


#myheader {
    background-color: grey;

}

main {

    background-color: rgb(230, 220, 178);
    padding: 50px
}


body {
	background-color: beige;
	color: black;
    width:90%;
    Margin-left:auto;
    margin-right:auto;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

}
a:hover {
    color:red;
    text-decoration: underline;
}

footer {clear:both}